.productList
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 30px;
}


.filterBox {
  display: flex;
  gap: 12px;
  padding: 20px 30px;
  align-items: center;
}

.filterSelect {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
