.container {
  padding: 20px;
}

.uploadBox {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 0 5px #ccc;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.form input,
.form select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.addBtn {
  grid-column: span 2;
  padding: 10px;
  background: #2979ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.addBtn:hover {
  background: #005ce6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  text-align: center;
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.price {
  color: #e53935;
  font-weight: bold;
}

.deleteBtn {
  padding: 6px 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.deleteBtn:hover {
  background: darkred;
}
